.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;

}

.hello {
    font-size: 2em;
    margin-left: 2em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .75em;

}

.name-title {
    display: flex;
    justify-content: flex-end;
        align-items: center;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .75em;

}

.job-title {
    font-size: 1em;
    margin-left: 3em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .25em;
}

.about-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
}